main {
  font-size: 1rem;
}

.section {
  position: relative;
  padding: 90px 0;
  overflow: hidden;
  &:first-of-type{
    overflow: visible;
  }
  &:last-of-type {
    padding-bottom: 50px;
  }
  &:nth-child(2n+1) {
    background-color: $light2;
  }
}

.wrapper {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'peace sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 6.2rem;
  margin-bottom: 80px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1.7rem;
  font-family: 'open_sans';
  color: $darkenLight;
  line-height: 30px;
  margin: 30px 0;
}

button {
  cursor: pointer;
}

.hidden {
  @include hidden;
}