* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  font-weight: 400;
}

html,body {
  font-size: 62.5%;
  font-weight: 400;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
}

a, a:active, a:focus, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: inherit;
}